<div bsModal #FormModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            <form *ngIf="active" #questionGroupForm="ngForm" id="frm_edit_questionGroup" novalidate (ngSubmit)="save()">

                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{l("Question group")}}</span>
                    </h4>
                </div>

                <div class="modal-body">
					<div class="form-group form-float">
                        <div [ngClass]="{error: Name.errors && (Name.dirty || Name.touched)}" class="form-line">
                            <input id="name" #Name="ngModel" class="form-control" type="string" name="Name" [(ngModel)]="item.name"  maxlength="200" />
                            <label for="name" class="form-label">{{l("Name")}}</label>
                        </div>
                        <div *ngIf="Name.errors && (Name.dirty || Name.touched)">
                            <label [ngClass]="{error: Name.errors.maxlength, hide: !Name.errors.maxlength}" for="name">
                                    {{l("Name cannot be more than 200 characters long")}}
                            </label>
                        </div>
                    </div>
					<div class="form-group">
                        <input id="isActive" class="form-control" type="checkbox" name="IsActive" [(ngModel)]="item.isActive" checked />
                        <label for="isActive" class="form-label">{{l("Is active")}}</label>
                    </div>
					<div class="form-group form-float">
                        <div [ngClass]="{error: Order.errors && (Order.dirty || Order.touched)}" class="form-line">
                            <input id="order" #Order="ngModel" class="form-control" type="number" name="Order" [(ngModel)]="item.order"  required />
                            <label for="order" class="form-label">{{l("Order")}}</label>
                        </div>
                        <div *ngIf="Order.errors && (Order.dirty || Order.touched)">
                            <label [ngClass]="{error: Order.errors.required, hide: !Order.errors.required}" for="order">
                                {{l("Order is required")}}
                            </label>
                        </div>
                    </div>
					<div class="form-group form-float">
                        <div class="form-line">
                            <select id="surveyId" #SurveyId="ngModel" class="form-control show-tick" name="SurveyId" [(ngModel)]="item.surveyId"  required>
                                <option value="">-- Select Survey --</option>
                                <option #options *ngFor="let survey of surveyIdList" value={{survey.id}}>{{survey.name}}</option>
                            </select>
                            <label for="SurveyId" class="form-label">{{l("Survey")}}</label>
                        </div>
                        <div *ngIf="SurveyId.errors && (SurveyId.dirty || SurveyId.touched)">
                            <label [ngClass]="{error: SurveyId.errors.required, hide: !SurveyId.errors.required}" for="surveyId">
                                {{l("Survey id is required")}}
                            </label>
                        </div>
                    </div>
					<div class="form-group form-float">
                        <div [ngClass]="{error: Code.errors && (Code.dirty || Code.touched)}" class="form-line">
                            <input id="code" #Code="ngModel" class="form-control" type="string" name="Code" [(ngModel)]="item.code"  maxlength="50" />
                            <label for="code" class="form-label">{{l("Code")}}</label>
                        </div>
                        <div *ngIf="Code.errors && (Code.dirty || Code.touched)">
                            <label [ngClass]="{error: Code.errors.maxlength, hide: !Code.errors.maxlength}" for="code">
                                    {{l("Code cannot be more than 50 characters long")}}
                            </label>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button [disabled]="saving" type="submit" class="btn btn-primary blue">{{l("Save")}}</button>
                </div>

            </form>

        </div>
    </div>
</div>