# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Host/App_Data/Logs/
aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Mvc/App_Data/Logs/
/angular/.vscode
angular/src/app/domain-groups/domain-groups.component.html
angular/src/app/domain-groups/domain-groups.component.html
angular/src/app/domain-groups/domain-groups.component.ts
angular/src/app/domain-groups/domain-group-form/domain-group-form.component.html
angular/src/app/domain-groups/domain-group-form/domain-group-form.component.ts
angular/src/app/domains/domains.component.html
angular/src/app/domains/domains.component.ts
angular/src/app/domains/domain-form/domain-form.component.html
angular/src/app/domains/domain-form/domain-form.component.ts
angular/src/app/question-answers/question-answers.component.html
angular/src/app/question-answers/question-answers.component.ts
angular/src/app/question-answers/question-answer-form/question-answer-form.component.html
angular/src/app/question-answers/question-answer-form/question-answer-form.component.ts
angular/src/app/question-groups/question-groups.component.html
angular/src/app/question-groups/question-groups.component.ts
angular/src/app/question-groups/question-group-form/question-group-form.component.html
angular/src/app/question-groups/question-group-form/question-group-form.component.ts
angular/src/app/questions/questions.component.html
angular/src/app/questions/questions.component.ts
angular/src/app/questions/question-form/question-form.component.html
angular/src/app/questions/question-form/question-form.component.ts
angular/src/app/students/students.component.html
angular/src/app/students/students.component.ts
angular/src/app/surveys/surveys.component.html
angular/src/app/surveys/surveys.component.ts
angular/src/app/surveys/survey-form/survey-form.component.html
angular/src/app/surveys/survey-form/survey-form.component.ts
angular/src/shared/service-proxies/service-proxies.ts
angular/src/shared/service-proxies/service-proxy.module.ts
angular/src/shared/service-proxies/service-proxies.ts
angular/src/shared/service-proxies/service-proxy.module.ts
