<div bsModal #FormModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            <form *ngIf="active" #questionForm="ngForm" id="frm_edit_question" novalidate (ngSubmit)="save()">

                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{l("Question")}}</span>
                    </h4>
                </div>

                <div class="modal-body">
					<div class="form-group form-float">
                        <div [ngClass]="{error: Title.errors && (Title.dirty || Title.touched)}" class="form-line">
                            <input id="title" #Title="ngModel" class="form-control" type="string" name="Title" [(ngModel)]="item.title"  required />
                            <label for="title" class="form-label">{{l("Title")}}</label>
                        </div>
                        <div *ngIf="Title.errors && (Title.dirty || Title.touched)">
                            <label [ngClass]="{error: Title.errors.required, hide: !Title.errors.required}" for="title">
                                {{l("Title is required")}}
                            </label>
                        </div>
                    </div>
					<div class="form-group">
                        <input id="isActive" class="form-control" type="checkbox" name="IsActive" [(ngModel)]="item.isActive" checked />
                        <label for="isActive" class="form-label">{{l("Is active")}}</label>
                    </div>
					<div class="form-group form-float">
                        <div [ngClass]="{error: Order.errors && (Order.dirty || Order.touched)}" class="form-line">
                            <input id="order" #Order="ngModel" class="form-control" type="number" name="Order" [(ngModel)]="item.order"  required />
                            <label for="order" class="form-label">{{l("Order")}}</label>
                        </div>
                        <div *ngIf="Order.errors && (Order.dirty || Order.touched)">
                            <label [ngClass]="{error: Order.errors.required, hide: !Order.errors.required}" for="order">
                                {{l("Order is required")}}
                            </label>
                        </div>
                    </div>
					<div class="form-group form-float">
                        <div [ngClass]="{error: QuestionType.errors && (QuestionType.dirty || QuestionType.touched)}" class="form-line">
                            <input id="questionType" #QuestionType="ngModel" class="form-control" type="number" name="QuestionType" [(ngModel)]="item.questionType"  required />
                            <label for="questionType" class="form-label">{{l("Question type")}}</label>
                        </div>
                        <div *ngIf="QuestionType.errors && (QuestionType.dirty || QuestionType.touched)">
                            <label [ngClass]="{error: QuestionType.errors.required, hide: !QuestionType.errors.required}" for="questionType">
                                {{l("Question type is required")}}
                            </label>
                        </div>
                    </div>
					<div class="form-group form-float">
                        <div class="form-line">
                            <select id="domainGroupId" #DomainGroupId="ngModel" class="form-control show-tick" name="DomainGroupId" [(ngModel)]="item.domainGroupId" >
                                <option value="">-- Select Domain group --</option>
                                <option #options *ngFor="let domainGroup of domainGroupIdList" value={{domainGroup.id}}>{{domainGroup.name}}</option>
                            </select>
                            <label for="DomainGroupId" class="form-label">{{l("Domain group")}}</label>
                        </div>
                    </div>
					<div class="form-group form-float">
                        <div [ngClass]="{error: DomainGroupLevelsNumber.errors && (DomainGroupLevelsNumber.dirty || DomainGroupLevelsNumber.touched)}" class="form-line">
                            <input id="domainGroupLevelsNumber" #DomainGroupLevelsNumber="ngModel" class="form-control" type="number" name="DomainGroupLevelsNumber" [(ngModel)]="item.domainGroupLevelsNumber"  />
                            <label for="domainGroupLevelsNumber" class="form-label">{{l("Domain group levels number")}}</label>
                        </div>
                    </div>
					<div class="form-group form-float">
                        <div class="form-line">
                            <select id="questionGroupId" #QuestionGroupId="ngModel" class="form-control show-tick" name="QuestionGroupId" [(ngModel)]="item.questionGroupId"  required>
                                <option value="">-- Select Question group --</option>
                                <option #options *ngFor="let questionGroup of questionGroupIdList" value={{questionGroup.id}}>{{questionGroup.name}}</option>
                            </select>
                            <label for="QuestionGroupId" class="form-label">{{l("Question group")}}</label>
                        </div>
                        <div *ngIf="QuestionGroupId.errors && (QuestionGroupId.dirty || QuestionGroupId.touched)">
                            <label [ngClass]="{error: QuestionGroupId.errors.required, hide: !QuestionGroupId.errors.required}" for="questionGroupId">
                                {{l("Question group id is required")}}
                            </label>
                        </div>
                    </div>
					<div class="form-group form-float">
                        <div [ngClass]="{error: Code.errors && (Code.dirty || Code.touched)}" class="form-line">
                            <input id="code" #Code="ngModel" class="form-control" type="string" name="Code" [(ngModel)]="item.code"  maxlength="50" />
                            <label for="code" class="form-label">{{l("Code")}}</label>
                        </div>
                        <div *ngIf="Code.errors && (Code.dirty || Code.touched)">
                            <label [ngClass]="{error: Code.errors.maxlength, hide: !Code.errors.maxlength}" for="code">
                                    {{l("Code cannot be more than 50 characters long")}}
                            </label>
                        </div>
                    </div>
					<div class="form-group">
                        <input id="isRequired" class="form-control" type="checkbox" name="IsRequired" [(ngModel)]="item.isRequired" checked />
                        <label for="isRequired" class="form-label">{{l("Is required")}}</label>
                    </div>
					<div class="form-group">
                        <input id="isHidden" class="form-control" type="checkbox" name="IsHidden" [(ngModel)]="item.isHidden" checked />
                        <label for="isHidden" class="form-label">{{l("Is hidden")}}</label>
                    </div>
					<div class="form-group form-float">
                        <div [ngClass]="{error: Description.errors && (Description.dirty || Description.touched)}" class="form-line">
                            <input id="description" #Description="ngModel" class="form-control" type="string" name="Description" [(ngModel)]="item.description"  maxlength="500" />
                            <label for="description" class="form-label">{{l("Description")}}</label>
                        </div>
                        <div *ngIf="Description.errors && (Description.dirty || Description.touched)">
                            <label [ngClass]="{error: Description.errors.maxlength, hide: !Description.errors.maxlength}" for="description">
                                    {{l("Description cannot be more than 500 characters long")}}
                            </label>
                        </div>
                    </div>
					<div class="form-group form-float">
                        <div [ngClass]="{error: QuestionNumber.errors && (QuestionNumber.dirty || QuestionNumber.touched)}" class="form-line">
                            <input id="questionNumber" #QuestionNumber="ngModel" class="form-control" type="string" name="QuestionNumber" [(ngModel)]="item.questionNumber"  maxlength="50" />
                            <label for="questionNumber" class="form-label">{{l("Question number")}}</label>
                        </div>
                        <div *ngIf="QuestionNumber.errors && (QuestionNumber.dirty || QuestionNumber.touched)">
                            <label [ngClass]="{error: QuestionNumber.errors.maxlength, hide: !QuestionNumber.errors.maxlength}" for="questionNumber">
                                    {{l("Question number cannot be more than 50 characters long")}}
                            </label>
                        </div>
                    </div>
					<div class="form-group form-float">
                        <div [ngClass]="{error: Help.errors && (Help.dirty || Help.touched)}" class="form-line">
                            <input id="help" #Help="ngModel" class="form-control" type="string" name="Help" [(ngModel)]="item.help"  />
                            <label for="help" class="form-label">{{l("Help")}}</label>
                        </div>
                    </div>
					<div class="form-group form-float">
                        <div [ngClass]="{error: DefaultAnswerValue.errors && (DefaultAnswerValue.dirty || DefaultAnswerValue.touched)}" class="form-line">
                            <input id="defaultAnswerValue" #DefaultAnswerValue="ngModel" class="form-control" type="string" name="DefaultAnswerValue" [(ngModel)]="item.defaultAnswerValue"  />
                            <label for="defaultAnswerValue" class="form-label">{{l("Default answer value")}}</label>
                        </div>
                    </div>
					<div class="form-group">
                        <input id="isUsedInCallBack" class="form-control" type="checkbox" name="IsUsedInCallBack" [(ngModel)]="item.isUsedInCallBack" checked />
                        <label for="isUsedInCallBack" class="form-label">{{l("Is used in call back")}}</label>
                    </div>

					<div class="form-group">
                        <question-answer [items]="item.questionAnswers"></question-answer>
                    </div>
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button [disabled]="saving" type="submit" class="btn btn-primary blue">{{l("Save")}}</button>
                </div>

            </form>

        </div>
    </div>
</div>