<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    {{l('Applications')}}
                </h2>
                <ul class="header-dropdown m-r--5">
                    <i class="fa fa-spin fa-spinner" *ngIf="isTableLoading"></i>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block()" (click)="refresh();"><i class="material-icons">refresh</i> {{l('Refresh')}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
			<div class="body table-responsive">
				<div class="filters row">
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('Name')" name="NameFilter" [(ngModel)]="nameFilter"></input-text>
					</div>
				
					<div class="col-sm-3">

							<input-select multiple="true" name="CurrentPhaseId" proxy="CurrentPhaseServiceProxy"  [placeholder]="l('Current phase')"  
							[(ngModel)]="currentPhaseIdFilter"  dataValue="id"  dataText="name">
                        </input-select>

					</div>

					<div class="col-sm-3">
							<input-select name="IsEnabled" dataText="name" dataValue="value" [placeholder]="l('Is enabled')"
							[items]="trueFalseList" [(ngModel)]="isEnabledFilter"></input-select>
					</div>

					<div class="col-sm-3">
							<input-select name="IsActive" dataText="name" dataValue="value" [placeholder]="l('Is active')"
							[items]="trueFalseList" [(ngModel)]="isActiveFilter"></input-select>
					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('Logo')" name="LogoFilter" [(ngModel)]="logoFilter"></input-text>
					</div>
				
					<div class="col-sm-3">

							<input-select multiple="true" name="CategoryId" proxy="CategoryServiceProxy"  [placeholder]="l('Category')"  
							[(ngModel)]="categoryIdFilter"  dataValue="id"  dataText="name">
                        </input-select>

					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('Available for')" name="AvailableForFilter" [(ngModel)]="availableForFilter"></input-text>
					</div>

					<div class="col-sm-3">
						<div class="form-group form-float">
							<button (click)="search()" class="btn btn-primary waves-effect">{{l('Search')}}</button>
							</div>
					</div>
				</div>
            <!-- ******************************************************** -->
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="btn-link sort" (click)="order('Name',$event)"><a>{{l('Name')}}</a></th>
							<th class="btn-link sort" (click)="order('CurrentPhaseName',$event)"><a>{{l('Current phase name')}}</a></th>
                            <th class="btn-link sort" (click)="order('IsEnabled',$event)"><a>{{l('Is enabled')}}</a></th>
                            <th class="btn-link sort" (click)="order('IsActive',$event)"><a>{{l('Is active')}}</a></th>
                            <th class="btn-link sort" (click)="order('Logo',$event)"><a>{{l('Logo')}}</a></th>
							<th class="btn-link sort" (click)="order('CategoryName',$event)"><a>{{l('Category name')}}</a></th>
                            <th class="btn-link sort" (click)="order('AvailableFor',$event)"><a>{{l('Available for')}}</a></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
                            <td>{{item.name}}</td>
							<td>{{item.currentPhaseName}}</td>
                            <td>{{item.isEnabled}}</td>
                            <td align="center">
                                <i class="material-icons" *ngIf="item.isActive" style="color:green;">check_box</i>
                                <i class="material-icons" *ngIf="!item.isActive" style="color:red;">indeterminate_check_box</i>
                            </td>
                            <td>{{item.logo}}</td>
							<td>{{item.categoryName}}</td>
                            <td>{{item.availableFor}}</td>
                            <td class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">menu</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="edit(item)"><i class="material-icons">create</i>{{l('Edit')}}</a></li>
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="delete(item)"><i class="material-icons">delete_sweep</i>{{l('Delete')}}</a></li>
									<li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="navigate('/app/phases?key=applicationId&value=' + item.id)"><i class="material-icons">list</i>{{l('Phases')}}</a></li>
									<li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="navigate('/app/userapplications?key=applicationId&value=' + item.id)"><i class="material-icons">list</i>{{l('User applications')}}</a></li>
									<li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="navigate('/app/userdomains?key=applicationId&value=' + item.id)"><i class="material-icons">list</i>{{l('User domains')}}</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            <!-- ******************************************************** -->

                <div class="text-align: center;" *ngIf="totalItems > pageSize">
                    <pagination (pageChange)="getDataPage($event)" id="server"></pagination>
                </div>
                <button type="button" data-toggle="modal" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" (click)="create()">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>

<application-form-modal #applicationFormModal (modalSave)="refresh()"></application-form-modal>