<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    {{l('User profiles progresses')}}
                </h2>
                <ul class="header-dropdown m-r--5">
                    <i class="fa fa-spin fa-spinner" *ngIf="isTableLoading"></i>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block()" (click)="refresh();"><i class="material-icons">refresh</i> {{l('Refresh')}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
			<div class="body table-responsive">
				<div class="filters row">
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('User profile id')" name="UserProfileIdFilter" [(ngModel)]="userProfileIdFilter"></input-text>
					</div>

					<div class="col-sm-3">
							<input-select name="IsActive" dataText="name" dataValue="value" [placeholder]="l('Is active')"
							[items]="trueFalseList" [(ngModel)]="isActiveFilter"></input-select>
					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('User id')" name="UserIdFilter" [(ngModel)]="userIdFilter"></input-text>
					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('User name')" name="UserNameFilter" [(ngModel)]="userNameFilter"></input-text>
					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('User code')" name="UserCodeFilter" [(ngModel)]="userCodeFilter"></input-text>
					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('Manager id')" name="ManagerIdFilter" [(ngModel)]="managerIdFilter"></input-text>
					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('Survey id')" name="SurveyIdFilter" [(ngModel)]="surveyIdFilter"></input-text>
					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('Count')" name="CountFilter" [(ngModel)]="countFilter"></input-text>
					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('Creation phase id')" name="CreationPhaseIdFilter" [(ngModel)]="creationPhaseIdFilter"></input-text>
					</div>

					<div class="col-sm-3">
						<div class="form-group form-float">
							<button (click)="search()" class="btn btn-primary waves-effect">{{l('Search')}}</button>
							</div>
					</div>
				</div>
            <!-- ******************************************************** -->
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="btn-link sort" (click)="order('UserProfileId',$event)"><a>{{l('User profile id')}}</a></th>
                            <th class="btn-link sort" (click)="order('IsActive',$event)"><a>{{l('Is active')}}</a></th>
                            <th class="btn-link sort" (click)="order('UserId',$event)"><a>{{l('User id')}}</a></th>
                            <th class="btn-link sort" (click)="order('UserName',$event)"><a>{{l('User name')}}</a></th>
                            <th class="btn-link sort" (click)="order('UserCode',$event)"><a>{{l('User code')}}</a></th>
                            <th class="btn-link sort" (click)="order('ManagerId',$event)"><a>{{l('Manager id')}}</a></th>
                            <th class="btn-link sort" (click)="order('SurveyId',$event)"><a>{{l('Survey id')}}</a></th>
                            <th class="btn-link sort" (click)="order('Count',$event)"><a>{{l('Count')}}</a></th>
                            <th class="btn-link sort" (click)="order('CreationPhaseId',$event)"><a>{{l('Creation phase id')}}</a></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
                            <td>{{item.userProfileId}}</td>
                            <td align="center">
                                <i class="material-icons" *ngIf="item.isActive" style="color:green;">check_box</i>
                                <i class="material-icons" *ngIf="!item.isActive" style="color:red;">indeterminate_check_box</i>
                            </td>
                            <td>{{item.userId}}</td>
                            <td>{{item.userName}}</td>
                            <td>{{item.userCode}}</td>
                            <td>{{item.managerId}}</td>
                            <td>{{item.surveyId}}</td>
                            <td>{{item.count}}</td>
                            <td>{{item.creationPhaseId}}</td>
                            <td class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">menu</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="edit(item)"><i class="material-icons">create</i>{{l('Edit')}}</a></li>
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="delete(item)"><i class="material-icons">delete_sweep</i>{{l('Delete')}}</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            <!-- ******************************************************** -->

                <div class="text-align: center;" *ngIf="totalItems > pageSize">
                    <pagination (pageChange)="getDataPage($event)" id="server"></pagination>
                </div>
                <button type="button" data-toggle="modal" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" (click)="create()">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>

<user-profiles-progress-form-modal #userProfilesProgressFormModal (modalSave)="refresh()"></user-profiles-progress-form-modal>