<div bsModal #FormModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            <form *ngIf="active" #questionnaireQuestionAnswerForm="ngForm" id="frm_edit_questionnaireQuestionAnswer" novalidate (ngSubmit)="save()">

                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{l("Questionnaire question answer")}}</span>
                    </h4>
                </div>

                <div class="modal-body">
					<input-text id="title" dto="QuestionnaireQuestionAnswerDto"  type="string" name="Title" [(ngModel)]="item.title"></input-text>

                        
						<input-select dto="QuestionnaireQuestionAnswerDto"  name="QuestionId"  proxy="QuestionServiceProxy"  [placeholder]="l('Question')"  
							[(ngModel)]="item.questionId" dataValue="id"  dataText="name">
                        </input-select>

					<div class="form-group">
                        <input id="isTrue" class="form-control" type="checkbox" name="IsTrue" [(ngModel)]="item.isTrue" checked />
                        <label for="isTrue" class="form-label">{{l("Is true")}}</label>
                    </div>
					<input-text id="order" dto="QuestionnaireQuestionAnswerDto"  type="number" name="Order" [(ngModel)]="item.order"></input-text>


                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button [disabled]="saving" type="submit" class="btn btn-primary blue">{{l("Save")}}</button>
                </div>

            </form>

        </div>
    </div>
</div>