<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    {{l('Sync logs')}}
                </h2>
                <ul class="header-dropdown m-r--5">
                    <i class="fa fa-spin fa-spinner" *ngIf="isTableLoading"></i>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block()" (click)="refresh();"><i class="material-icons">refresh</i> {{l('Refresh')}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
			<div class="body table-responsive">
				<div class="filters row">
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('Status')" name="StatusFilter" [(ngModel)]="statusFilter"></input-text>
					</div>

					<div class="col-sm-3">
                            <input-date [id]="'TimeFromFilter'" [name]="'TimeFromFilter'" [placeholder]="l('From Time')" [(ngModel)]="timeFromFilter"></input-date>
                    </div>
					<div class="col-sm-3">
                            <input-date id="TimeToFilter" name="TimeToFilter" [placeholder]="l('To Time')" [(ngModel)]="timeToFilter"></input-date>
                    </div>
					

					<div class="col-sm-3">
							<input-select name="IsServer" dataText="name" dataValue="value" [placeholder]="l('Is server')"
							[items]="trueFalseList" [(ngModel)]="isServerFilter"></input-select>
					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('Count')" name="CountFilter" [(ngModel)]="countFilter"></input-text>
					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('User id')" name="UserIdFilter" [(ngModel)]="userIdFilter"></input-text>
					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('Message')" name="MessageFilter" [(ngModel)]="messageFilter"></input-text>
					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('Service')" name="ServiceFilter" [(ngModel)]="serviceFilter"></input-text>
					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('Domain code')" name="DomainCodeFilter" [(ngModel)]="domainCodeFilter"></input-text>
					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('Arabic error description')" name="ArabicErrorDescriptionFilter" [(ngModel)]="arabicErrorDescriptionFilter"></input-text>
					</div>

					<div class="col-sm-3">
						<div class="form-group form-float">
							<button (click)="search()" class="btn btn-primary waves-effect">{{l('Search')}}</button>
							</div>
					</div>
				</div>
            <!-- ******************************************************** -->
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="btn-link sort" (click)="order('Status',$event)"><a>{{l('Status')}}</a></th>
                            <th class="btn-link sort" (click)="order('Time',$event)"><a>{{l('Time')}}</a></th>
                            <th class="btn-link sort" (click)="order('IsServer',$event)"><a>{{l('Is server')}}</a></th>
                            <th class="btn-link sort" (click)="order('Count',$event)"><a>{{l('Count')}}</a></th>
                            <th class="btn-link sort" (click)="order('UserId',$event)"><a>{{l('User id')}}</a></th>
                            <th class="btn-link sort" (click)="order('Message',$event)"><a>{{l('Message')}}</a></th>
                            <th class="btn-link sort" (click)="order('Service',$event)"><a>{{l('Service')}}</a></th>
                            <th class="btn-link sort" (click)="order('DomainCode',$event)"><a>{{l('Domain code')}}</a></th>
                            <th class="btn-link sort" (click)="order('ArabicErrorDescription',$event)"><a>{{l('Arabic error description')}}</a></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
                            <td>{{item.status}}</td>
                            <td>{{item.time}}</td>
                            <td>{{item.isServer}}</td>
                            <td>{{item.count}}</td>
                            <td>{{item.userId}}</td>
                            <td>{{item.message}}</td>
                            <td>{{item.service}}</td>
                            <td>{{item.domainCode}}</td>
                            <td>{{item.arabicErrorDescription}}</td>
                            <td class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">menu</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="edit(item)"><i class="material-icons">create</i>{{l('Edit')}}</a></li>
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="delete(item)"><i class="material-icons">delete_sweep</i>{{l('Delete')}}</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            <!-- ******************************************************** -->

                <div class="text-align: center;" *ngIf="totalItems > pageSize">
                    <pagination (pageChange)="getDataPage($event)" id="server"></pagination>
                </div>
                <button type="button" data-toggle="modal" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" (click)="create()">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>

<sync-log-form-modal #syncLogFormModal (modalSave)="refresh()"></sync-log-form-modal>