<div bsModal #FormModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            <form *ngIf="active" #approvalStepForm="ngForm" id="frm_edit_approvalStep" novalidate (ngSubmit)="save()">

                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{l("Approval step")}}</span>
                    </h4>
                </div>

                <div class="modal-body">
					<input-text id="workflowId" dto="ApprovalStepDto"  type="string" name="WorkflowId" [(ngModel)]="item.workflowId"></input-text>

					<input-text id="order" dto="ApprovalStepDto"  type="number" name="Order" [(ngModel)]="item.order"></input-text>

					<input-text id="roleId" dto="ApprovalStepDto"  type="string" name="RoleId" [(ngModel)]="item.roleId"></input-text>

					<input-text id="groupId" dto="ApprovalStepDto"  type="string" name="GroupId" [(ngModel)]="item.groupId"></input-text>

					<div class="form-group">
                        <input id="isActive" class="form-control" type="checkbox" name="IsActive" [(ngModel)]="item.isActive" checked />
                        <label for="isActive" class="form-label">{{l("Is active")}}</label>
                    </div>

                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button [disabled]="saving" type="submit" class="btn btn-primary blue">{{l("Save")}}</button>
                </div>

            </form>

        </div>
    </div>
</div>