<div bsModal #FormModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            <form *ngIf="active" #questionTemplateSubCategoryForm="ngForm" id="frm_edit_questionTemplateSubCategory" novalidate (ngSubmit)="save()">

                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{l("Question template sub category")}}</span>
                    </h4>
                </div>

                <div class="modal-body">
                        
						<input-select dto="QuestionTemplateSubCategoryDto"  name="QuestionTemplateCategoryId"  proxy="QuestionTemplateCategoryServiceProxy"  [placeholder]="l('Question template category')"  
							[(ngModel)]="item.questionTemplateCategoryId" dataValue="id"  dataText="name">
                        </input-select>

					<input-text id="name" dto="QuestionTemplateSubCategoryDto"  type="string" name="Name" [(ngModel)]="item.name"></input-text>

					<input-text id="nameEn" dto="QuestionTemplateSubCategoryDto"  type="string" name="NameEn" [(ngModel)]="item.nameEn"></input-text>


                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button [disabled]="saving" type="submit" class="btn btn-primary blue">{{l("Save")}}</button>
                </div>

            </form>

        </div>
    </div>
</div>