.headerSortDown:after,
.headerSortUp:after {
    content: ' ';
    position: relative;
    left: 5px;
    border: 6px solid transparent;
}

.headerSortDown:after {
    top: 12px;
    border-top-color: gray;
}

.headerSortUp:after {
    bottom: 12px;
    border-bottom-color: gray;
}

.headerSortDown,
.headerSortUp {
    padding-right: 10px;
}

.sidebar .user-info {height: inherit;}
.sidebar .user-info .info-container {top:inherit;}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    margin-top: 9px;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select .dropdown-toggle:active {
    outline: none !important;
}

.bootstrap-select.form-control { margin-bottom: 26px}
