.selectParent {width:100%}
div .selectParent :hover{background-color:#eee}
.selectParent > a {
        text-decoration: none;
        color: #555
    }
.treeDiv {
    max-height: 294px;
    overflow: hidden;
    min-height: 0px;
    z-index: 100;
    background-color: white;
    min-width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding: 7px 18px;
    color: #666;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 14px;
    line-height: 25px;
    top: 5px
}

.headerSortDown:after,
.headerSortUp:after {
    content: ' ';
    position: relative;
    left: 5px;
    border: 6px solid transparent;
}

.headerSortDown:after {
    top: 12px;
    border-top-color: gray;
}

.headerSortUp:after {
    bottom: 12px;
    border-bottom-color: gray;
}

.headerSortDown,
.headerSortUp {
    padding-right: 10px;
}

.sidebar .user-info {height: inherit;}
.sidebar .user-info .info-container {top:inherit;}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    margin-top: 9px;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select .dropdown-toggle:active {
    outline: none !important;
}

.bootstrap-select.form-control { margin-bottom: 26px}
.modal { z-index: 950;}
.modal-backdrop { z-index: 940;}
.mat-select-trigger { font-size: 14px;}
.mat-select { margin-bottom: 1px;}
.mat-input-infix { padding: 5px 0; margin-top: 6px; border-top: 0}



/* Breadcrumbs ================================= */
.breadcrumb {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
    font-size: 13px;
    margin-bottom: 10px;
}

    .breadcrumb li a {
        color: #444;
        text-decoration: none;
    }

        .breadcrumb li a .material-icons {
            font-size: 18px;
            position: relative;
            top: 4px;
        }

    .breadcrumb li .material-icons {
        font-size: 18px;
        position: relative;
        top: 4px;
    }

    .breadcrumb > li + li:before {
        content: '>\00a0';
    }

.breadcrumb-col-red li a {
    color: #F44336 !important;
    font-weight: bold;
}

.breadcrumb-bg-red {
    background-color: #F44336 !important;
}

    .breadcrumb-bg-red li {
        color: #fff !important;
    }

        .breadcrumb-bg-red li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-red li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-red li + li:before {
            color: #fff;
        }

.breadcrumb-col-pink li a {
    color: #E91E63 !important;
    font-weight: bold;
}

.breadcrumb-bg-pink {
    background-color: #E91E63 !important;
}

    .breadcrumb-bg-pink li {
        color: #fff !important;
    }

        .breadcrumb-bg-pink li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-pink li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-pink li + li:before {
            color: #fff;
        }

.breadcrumb-col-purple li a {
    color: #9C27B0 !important;
    font-weight: bold;
}

.breadcrumb-bg-purple {
    background-color: #9C27B0 !important;
}

    .breadcrumb-bg-purple li {
        color: #fff !important;
    }

        .breadcrumb-bg-purple li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-purple li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-purple li + li:before {
            color: #fff;
        }

.breadcrumb-col-deep-purple li a {
    color: #673AB7 !important;
    font-weight: bold;
}

.breadcrumb-bg-deep-purple {
    background-color: #673AB7 !important;
}

    .breadcrumb-bg-deep-purple li {
        color: #fff !important;
    }

        .breadcrumb-bg-deep-purple li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-deep-purple li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-deep-purple li + li:before {
            color: #fff;
        }

.breadcrumb-col-indigo li a {
    color: #3F51B5 !important;
    font-weight: bold;
}

.breadcrumb-bg-indigo {
    background-color: #3F51B5 !important;
}

    .breadcrumb-bg-indigo li {
        color: #fff !important;
    }

        .breadcrumb-bg-indigo li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-indigo li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-indigo li + li:before {
            color: #fff;
        }

.breadcrumb-col-blue li a {
    color: #2196F3 !important;
    font-weight: bold;
}

.breadcrumb-bg-blue {
    background-color: #2196F3 !important;
}

    .breadcrumb-bg-blue li {
        color: #fff !important;
    }

        .breadcrumb-bg-blue li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-blue li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-blue li + li:before {
            color: #fff;
        }

.breadcrumb-col-light-blue li a {
    color: #03A9F4 !important;
    font-weight: bold;
}

.breadcrumb-bg-light-blue {
    background-color: #03A9F4 !important;
}

    .breadcrumb-bg-light-blue li {
        color: #fff !important;
    }

        .breadcrumb-bg-light-blue li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-light-blue li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-light-blue li + li:before {
            color: #fff;
        }

.breadcrumb-col-cyan li a {
    color: #00BCD4 !important;
    font-weight: bold;
}

.breadcrumb-bg-cyan {
    background-color: #00BCD4 !important;
}

    .breadcrumb-bg-cyan li {
        color: #fff !important;
    }

        .breadcrumb-bg-cyan li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-cyan li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-cyan li + li:before {
            color: #fff;
        }

.breadcrumb-col-teal li a {
    color: #009688 !important;
    font-weight: bold;
}

.breadcrumb-bg-teal {
    background-color: #009688 !important;
}

    .breadcrumb-bg-teal li {
        color: #fff !important;
    }

        .breadcrumb-bg-teal li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-teal li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-teal li + li:before {
            color: #fff;
        }

.breadcrumb-col-green li a {
    color: #4CAF50 !important;
    font-weight: bold;
}

.breadcrumb-bg-green {
    background-color: #4CAF50 !important;
}

    .breadcrumb-bg-green li {
        color: #fff !important;
    }

        .breadcrumb-bg-green li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-green li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-green li + li:before {
            color: #fff;
        }

.breadcrumb-col-light-green li a {
    color: #8BC34A !important;
    font-weight: bold;
}

.breadcrumb-bg-light-green {
    background-color: #8BC34A !important;
}

    .breadcrumb-bg-light-green li {
        color: #fff !important;
    }

        .breadcrumb-bg-light-green li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-light-green li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-light-green li + li:before {
            color: #fff;
        }

.breadcrumb-col-lime li a {
    color: #CDDC39 !important;
    font-weight: bold;
}

.breadcrumb-bg-lime {
    background-color: #CDDC39 !important;
}

    .breadcrumb-bg-lime li {
        color: #fff !important;
    }

        .breadcrumb-bg-lime li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-lime li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-lime li + li:before {
            color: #fff;
        }

.breadcrumb-col-yellow li a {
    color: #ffe821 !important;
    font-weight: bold;
}

.breadcrumb-bg-yellow {
    background-color: #ffe821 !important;
}

    .breadcrumb-bg-yellow li {
        color: #fff !important;
    }

        .breadcrumb-bg-yellow li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-yellow li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-yellow li + li:before {
            color: #fff;
        }

.breadcrumb-col-amber li a {
    color: #FFC107 !important;
    font-weight: bold;
}

.breadcrumb-bg-amber {
    background-color: #FFC107 !important;
}

    .breadcrumb-bg-amber li {
        color: #fff !important;
    }

        .breadcrumb-bg-amber li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-amber li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-amber li + li:before {
            color: #fff;
        }

.breadcrumb-col-orange li a {
    color: #FF9800 !important;
    font-weight: bold;
}

.breadcrumb-bg-orange {
    background-color: #FF9800 !important;
}

    .breadcrumb-bg-orange li {
        color: #fff !important;
    }

        .breadcrumb-bg-orange li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-orange li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-orange li + li:before {
            color: #fff;
        }

.breadcrumb-col-deep-orange li a {
    color: #FF5722 !important;
    font-weight: bold;
}

.breadcrumb-bg-deep-orange {
    background-color: #FF5722 !important;
}

    .breadcrumb-bg-deep-orange li {
        color: #fff !important;
    }

        .breadcrumb-bg-deep-orange li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-deep-orange li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-deep-orange li + li:before {
            color: #fff;
        }

.breadcrumb-col-brown li a {
    color: #795548 !important;
    font-weight: bold;
}

.breadcrumb-bg-brown {
    background-color: #795548 !important;
}

    .breadcrumb-bg-brown li {
        color: #fff !important;
    }

        .breadcrumb-bg-brown li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-brown li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-brown li + li:before {
            color: #fff;
        }

.breadcrumb-col-grey li a {
    color: #9E9E9E !important;
    font-weight: bold;
}

.breadcrumb-bg-grey {
    background-color: #9E9E9E !important;
}

    .breadcrumb-bg-grey li {
        color: #fff !important;
    }

        .breadcrumb-bg-grey li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-grey li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-grey li + li:before {
            color: #fff;
        }

.breadcrumb-col-blue-grey li a {
    color: #607D8B !important;
    font-weight: bold;
}

.breadcrumb-bg-blue-grey {
    background-color: #607D8B !important;
}

    .breadcrumb-bg-blue-grey li {
        color: #fff !important;
    }

        .breadcrumb-bg-blue-grey li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-blue-grey li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-blue-grey li + li:before {
            color: #fff;
        }

.breadcrumb-col-black li a {
    color: #000000 !important;
    font-weight: bold;
}

.breadcrumb-bg-black {
    background-color: #000000 !important;
}

    .breadcrumb-bg-black li {
        color: #fff !important;
    }

        .breadcrumb-bg-black li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-black li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-black li + li:before {
            color: #fff;
        }

.breadcrumb-col-white li a {
    color: #ffffff !important;
    font-weight: bold;
}

.breadcrumb-bg-white {
    background-color: #ffffff !important;
}

    .breadcrumb-bg-white li {
        color: #fff !important;
    }

        .breadcrumb-bg-white li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-white li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-white li + li:before {
            color: #fff;
        }

/*fixes*/

.form-group .form-line.focused .form-label{margin-top: 5px}
.form-group .form-line.focused .form-label {color:#1f91f3}
.form-group .form-line.error:after {border-bottom: 2px solid #1f91f3}
html[dir=rtl] * :not(i){font-family: GESSTwoLight}
html[dir=rtl] .sidebar{right: 0}
html[dir=rtl] section.content{margin: 100px 315px 0 15px}
html[dir=rtl] .sidebar .menu .list{padding-right: 0px}
html[dir=rtl] .sidebar .menu .list i.material-icons {margin-left: 3px}
html[dir=rtl] .card .header .header-dropdown{left: 15px;right: auto}
html[dir=rtl] .btn-circle i{right: -1px}
html[dir=rtl] .sidebar .menu .list .menu-toggle:after,html[dir=rtl] .sidebar .menu .list .menu-toggle:before{left: 17px;right: auto}
html[dir=rtl] .form-group .form-line .form-label{right: 0px}
html[dir=rtl] .bootstrap-select.btn-group .dropdown-toggle .filter-option{text-align: right}
html[dir=rtl] .bootstrap-select.btn-group .dropdown-toggle .caret{left: 12px;right: auto}
html[dir=rtl] .btn:not(.btn-link):not(.btn-circle){float: left}
html[dir=rtl] .table>thead:first-child>tr:first-child>th{text-align: right}
html[dir=rtl] .close {float: left}
html[dir=rtl] .headerSortDown:after,html[dir=rtl] .headerSortUp:after{right: 5px}
html[dir=rtl] .dropdown-menu.pull-right {right: auto;left: 0}
html[dir=rtl] .dropdown-menu > li > a {text-align: right}
html[dir=rtl] .dropdown-menu > li > a i.material-icons {float: right;margin-left: 7px}
html[dir=rtl] [type="checkbox"]:not(:checked), [type="checkbox"]:checked{left: 0}
html[dir=rtl] .demo-choose-skin li span {right: 5px}
html[dir=rtl] .right-sidebar #settings .setting-list li .switch {right: auto;left: 5px}
.full-width{width:100%;}
.mat-form-field-infix{border-top:none;}
.mat-form-field-wrapper { padding-bottom: 20px; margin-bottom: -20px;}