<div bsModal #FormModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            <form *ngIf="active" #encodingMapperQuestionForm="ngForm" id="frm_edit_encodingMapperQuestion" novalidate (ngSubmit)="save()">

                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{l("Encoding mapper question")}}</span>
                    </h4>
                </div>

                <div class="modal-body">
					<input-text id="collectorQuestionId" dto="EncodingMapperQuestionDto"  type="string" name="CollectorQuestionId" [(ngModel)]="item.collectorQuestionId"></input-text>

					<input-text id="encoderQuestionId" dto="EncodingMapperQuestionDto"  type="string" name="EncoderQuestionId" [(ngModel)]="item.encoderQuestionId"></input-text>

					<input-text id="reviewerQuestionId" dto="EncodingMapperQuestionDto"  type="string" name="ReviewerQuestionId" [(ngModel)]="item.reviewerQuestionId"></input-text>

					<input-text id="collectorDetailsQuestionId" dto="EncodingMapperQuestionDto"  type="string" name="CollectorDetailsQuestionId" [(ngModel)]="item.collectorDetailsQuestionId"></input-text>


                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button [disabled]="saving" type="submit" class="btn btn-primary blue">{{l("Save")}}</button>
                </div>

            </form>

        </div>
    </div>
</div>