<div bsModal #studentFormModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="studentFormModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            <form *ngIf="active" #studentForm="ngForm" id="frm_create_student" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{l("StudentForm")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="name" #Name="ngModel" class="form-control" type="text" name="Name" required [(ngModel)]="item.name" maxlength="50" />
                            <label for="name" class="form-label">{{l("Name")}}</label>
                        </div>

                        <div *ngIf="Name.errors && (Name.dirty || Name.touched)"
                             class="alert alert-danger">
                            <div [hidden]="!Name.errors.required">
                                Name is required
                            </div>
                            <div [hidden]="!Name.errors.minlength">
                                 Name must be at least 2 characters long.
                            </div>
                            <div [hidden]="!Name.errors.maxlength">
                                 Name cannot be more than 50 characters long.
                            </div>
                        </div>

                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="bio" #Bio="ngModel" class="form-control" type="text" name="Bio" [(ngModel)]="item.bio" required />
                            <label for="bio" class="form-label">{{l("Bio")}}</label>
                        </div>

                        <div *ngIf="Bio.errors && (Bio.dirty || Bio.touched)"
                             class="alert alert-danger">
                            <div [hidden]="!Bio.errors.required">
                                Bio is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="age" class="form-control" type="number" name="Age" [(ngModel)]="item.age" />
                            <label for="age" class="form-label">{{l("Age")}}</label>
                        </div>
                    </div>
                    <div class="form-group form-float ">
                        <div>
                            <select id="selectMenu" #Roles="ngModel" class="form-control" required [(ngModel)]="item.roleId" name="Roles">
                                <option value="">--select Role--</option>
                                <option #options *ngFor="let role of roles" value={{role.id}}>{{role.name}}</option>
                            </select>
                        </div>
                        <div *ngIf="Roles.errors && (Roles.dirty || Roles.touched)"
                             class="alert alert-danger">
                            <div [hidden]="!Roles.errors.required">
                                Role is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="isActive" class="form-control" type="checkbox" name="IsActive" [(ngModel)]="item.isActive" checked />
                        <label for="isActive" class="form-label">{{l("IsActive")}}</label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button [disabled]="!studentForm.form.valid || saving" type="submit" class="btn btn-primary blue">{{l("Save")}}</button>
                </div>

            </form>
        </div>
    </div>
</div>