<div bsModal #FormModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            <form *ngIf="active" #studentForm="ngForm" id="frm_create_student"  (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{l("Student Form")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-float">
                        <div [ngClass]="{error: Name.errors && (Name.dirty || Name.touched)}" class="form-line">
                            <input id="name" #Name="ngModel" class="form-control" type="text" name="Name" required [(ngModel)]="item.name" minlength="2" maxlength="50" />
                            <label for="name" class="form-label">{{l("Name")}}</label>
                        </div>
                        <div *ngIf="Name.errors && (Name.dirty || Name.touched)">
                            <label [ngClass]="{error: Name.errors.required, hide: !Name.errors.required}" for="name">
                                Name is required
                            </label>
                            <label [ngClass]="{error: Name.errors.minlength, hide: !Name.errors.minlength}" for="name">
                                    Name must be at least 2 characters long.
                            </label>
                            <label [ngClass]="{error: Name.errors.maxlength, hide: !Name.errors.maxlength}" for="name">
                                    Name cannot be more than 50 characters long.
                            </label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="bio" #Bio="ngModel" class="form-control" type="text" name="Bio" [(ngModel)]="item.bio" required />
                            <label for="bio" class="form-label">{{l("Bio")}}</label>
                        </div>

                        <div *ngIf="Bio.errors && (Bio.dirty || Bio.touched)">
                            <label [ngClass]="{error: Bio.errors.required, hide: !Bio.errors.required}" for="bio">
                                Bio is required
                            </label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="age" class="form-control" type="number" name="Age" [(ngModel)]="item.age" />
                            <label for="age" class="form-label">{{l("Age")}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <select-input name="'roles'" [items]="roles" #Roles="ngModel" 
                        [proxy]="'RoleServiceProxy'"  [placeholder]="'Role'" 
                        [(ngModel)]="item.roleId" 
                        [dataValue]="'id'" [dataText]="'name'"></select-input>
                        
                        <div *ngIf="Roles.errors && (Roles.dirty || Roles.touched)">
                            <label [ngClass]="{error: Roles.errors.required, hide: !Roles.errors.required}">
                                Role is required
                            </label>
                        </div>
                    </div>

                    <!--<div class="form-group">
                        <label for="StudentParents" class="form-label">{{l("StudentParents")}}</label>
                        <div class="form-line">
                            <select id="selectMenu" #StudentParents="ngModel" class="form-control" [(ngModel)]="item.parentId" name="StudentParents">
                                <option value="">--Select Parent--</option>
                                <option #options *ngFor="let student of studentParents" [selected]="student.Id == parentId" value={{student.id}}>{{student.name}}</option>
                            </select>
                        </div>                        
                    </div>-->
                    <div class="form-group">
                        <label for="StudentParents" class="form-label">{{l("StudentParents")}}</label>
                        <div class="form-line">
                            <dropdown (select)="parentchanged($event)" ></dropdown>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label for="StudentParents" class="form-label">{{l("StudentParents")}}</label>
                        <div class="form-line">
                            <tree-nodes [proxy]="'StudentServiceProxy'"></tree-nodes>
                        </div>
                    </div>-->
                    

                    <div class="form-group">
                        <input id="isActive" class="form-control" type="checkbox" name="IsActive" [(ngModel)]="item.isActive" checked />
                        <label for="isActive" class="form-label">{{l("IsActive")}}</label>
                    </div>

                    
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button [disabled]="saving" type="submit" class="btn btn-primary blue">{{l("Save")}}</button>
                </div>

            </form>
        </div>
    </div>
</div>