<div bsModal #FormModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            <form *ngIf="active" #domainGroupForm="ngForm" id="frm_edit_domainGroup" novalidate (ngSubmit)="save()">

                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{l("Domain group")}}</span>
                    </h4>
                </div>

                <div class="modal-body">
					<input-text id="name" dto="DomainGroupDto"  type="string" name="Name" [(ngModel)]="item.name"></input-text>

					<input-text id="type" dto="DomainGroupDto"  type="number" name="Type" [(ngModel)]="item.type"></input-text>

                        
						<input-select dto="DomainGroupDto"  name="SubCategoryId"  proxy="SubCategoryServiceProxy"  [placeholder]="l('Sub category')"  
							[(ngModel)]="item.subCategoryId" dataValue="id"  dataText="name">
                        </input-select>

					<div class="form-group">
                        <input id="isActive" class="form-control" type="checkbox" name="IsActive" [(ngModel)]="item.isActive" checked />
                        <label for="isActive" class="form-label">{{l("Is active")}}</label>
                    </div>
	
					<input-date id="createdDate" dto="DomainGroupDto" name="createdDate" [placeholder]="l('Created date')" [(ngModel)]="item.createdDate"></input-date>
		
	
					<input-date id="lastUpdateTime" dto="DomainGroupDto" name="lastUpdateTime" [placeholder]="l('Last update time')" [(ngModel)]="item.lastUpdateTime"></input-date>
		

                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button [disabled]="saving" type="submit" class="btn btn-primary blue">{{l("Save")}}</button>
                </div>

            </form>

        </div>
    </div>
</div>