<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    {{l('Questions')}}
                </h2>
                <ul class="header-dropdown m-r--5">
                    <i class="fa fa-spin fa-spinner" *ngIf="isTableLoading"></i>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block()" (click)="refresh();"><i class="material-icons">refresh</i> {{l('Refresh')}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
			<div class="body table-responsive">
				<div class="filters row">
				
					<div class="col-sm-3">
						<div class="form-group form-float">
							<div class="form-line">
								<input id="TitleFilter" type="text" name="TitleFilter" [(ngModel)]="titleFilter" class="form-control">
								<label class="form-label">{{l('Title')}}</label>
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="form-group form-float">
							<div class="form-line">
								<select id="IsActive" name="IsActive" class="form-control show-tick" [(ngModel)]="isActiveFilter">
									<option value="">{{l('-- All --')}}</option>
									<option value=true>{{l('True')}}</option>
									<option value=false>{{l('False')}}</option>
								</select>
								<label class="form-label">{{l('Is active')}}</label>
							</div>
						</div>
					</div>
				
					<div class="col-sm-3">
						<div class="form-group form-float">
							<div class="form-line">
								<input id="QuestionTypeFilter" type="text" name="QuestionTypeFilter" [(ngModel)]="questionTypeFilter" class="form-control">
								<label class="form-label">{{l('Question type')}}</label>
							</div>
						</div>
					</div>
				
					<div class="col-sm-3">
						<div class="form-group form-float">
							<div class="form-line">
								<select id="DomainGroupId" name="DomainGroupId" class="form-control show-tick" [(ngModel)]="domainGroupIdFilter">
									<option value="">{{l('-- All --')}}</option>
									<option #options *ngFor="let item of domainGroupIdList" value={{item.id}}>{{item.name}}</option>
								</select>
								<label class="form-label">{{l('Domain group')}}</label>
							</div>
						</div>
					</div>
				
					<div class="col-sm-3">
						<div class="form-group form-float">
							<div class="form-line">
								<input id="DomainGroupLevelsNumberFilter" type="text" name="DomainGroupLevelsNumberFilter" [(ngModel)]="domainGroupLevelsNumberFilter" class="form-control">
								<label class="form-label">{{l('Domain group levels number')}}</label>
							</div>
						</div>
					</div>
				
					<div class="col-sm-3">
						<div class="form-group form-float">
							<div class="form-line">
								<select id="QuestionGroupId" name="QuestionGroupId" class="form-control show-tick" [(ngModel)]="questionGroupIdFilter">
									<option value="">{{l('-- All --')}}</option>
									<option #options *ngFor="let item of questionGroupIdList" value={{item.id}}>{{item.name}}</option>
								</select>
								<label class="form-label">{{l('Question group')}}</label>
							</div>
						</div>
					</div>
				
					<div class="col-sm-3">
						<div class="form-group form-float">
							<div class="form-line">
								<input id="CodeFilter" type="text" name="CodeFilter" [(ngModel)]="codeFilter" class="form-control">
								<label class="form-label">{{l('Code')}}</label>
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="form-group form-float">
							<div class="form-line">
								<select id="IsRequired" name="IsRequired" class="form-control show-tick" [(ngModel)]="isRequiredFilter">
									<option value="">{{l('-- All --')}}</option>
									<option value=true>{{l('True')}}</option>
									<option value=false>{{l('False')}}</option>
								</select>
								<label class="form-label">{{l('Is required')}}</label>
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="form-group form-float">
							<div class="form-line">
								<select id="IsHidden" name="IsHidden" class="form-control show-tick" [(ngModel)]="isHiddenFilter">
									<option value="">{{l('-- All --')}}</option>
									<option value=true>{{l('True')}}</option>
									<option value=false>{{l('False')}}</option>
								</select>
								<label class="form-label">{{l('Is hidden')}}</label>
							</div>
						</div>
					</div>
				
					<div class="col-sm-3">
						<div class="form-group form-float">
							<div class="form-line">
								<input id="DescriptionFilter" type="text" name="DescriptionFilter" [(ngModel)]="descriptionFilter" class="form-control">
								<label class="form-label">{{l('Description')}}</label>
							</div>
						</div>
					</div>
				
					<div class="col-sm-3">
						<div class="form-group form-float">
							<div class="form-line">
								<input id="QuestionNumberFilter" type="text" name="QuestionNumberFilter" [(ngModel)]="questionNumberFilter" class="form-control">
								<label class="form-label">{{l('Question number')}}</label>
							</div>
						</div>
					</div>
				
					<div class="col-sm-3">
						<div class="form-group form-float">
							<div class="form-line">
								<input id="HelpFilter" type="text" name="HelpFilter" [(ngModel)]="helpFilter" class="form-control">
								<label class="form-label">{{l('Help')}}</label>
							</div>
						</div>
					</div>
				
					<div class="col-sm-3">
						<div class="form-group form-float">
							<div class="form-line">
								<input id="DefaultAnswerValueFilter" type="text" name="DefaultAnswerValueFilter" [(ngModel)]="defaultAnswerValueFilter" class="form-control">
								<label class="form-label">{{l('Default answer value')}}</label>
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="form-group form-float">
							<div class="form-line">
								<select id="IsUsedInCallBack" name="IsUsedInCallBack" class="form-control show-tick" [(ngModel)]="isUsedInCallBackFilter">
									<option value="">{{l('-- All --')}}</option>
									<option value=true>{{l('True')}}</option>
									<option value=false>{{l('False')}}</option>
								</select>
								<label class="form-label">{{l('Is used in call back')}}</label>
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="form-group form-float">
							<button (click)="search()" class="btn btn-primary waves-effect">{{l('Search')}}</button>
							</div>
					</div>
				</div>
            <!-- ******************************************************** -->
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="btn-link sort" (click)="order('Title',$event)"><a>{{l('Title')}}</a></th>
                            <th class="btn-link sort" (click)="order('IsActive',$event)"><a>{{l('Is active')}}</a></th>
                            <th class="btn-link sort" (click)="order('QuestionType',$event)"><a>{{l('Question type')}}</a></th>
							<th class="btn-link sort" (click)="order('DomainGroupName',$event)"><a>{{l('Domain group name')}}</a></th>
                            <th class="btn-link sort" (click)="order('DomainGroupLevelsNumber',$event)"><a>{{l('Domain group levels number')}}</a></th>
							<th class="btn-link sort" (click)="order('QuestionGroupName',$event)"><a>{{l('Question group name')}}</a></th>
                            <th class="btn-link sort" (click)="order('Code',$event)"><a>{{l('Code')}}</a></th>
                            <th class="btn-link sort" (click)="order('IsRequired',$event)"><a>{{l('Is required')}}</a></th>
                            <th class="btn-link sort" (click)="order('IsHidden',$event)"><a>{{l('Is hidden')}}</a></th>
                            <th class="btn-link sort" (click)="order('Description',$event)"><a>{{l('Description')}}</a></th>
                            <th class="btn-link sort" (click)="order('QuestionNumber',$event)"><a>{{l('Question number')}}</a></th>
                            <th class="btn-link sort" (click)="order('Help',$event)"><a>{{l('Help')}}</a></th>
                            <th class="btn-link sort" (click)="order('DefaultAnswerValue',$event)"><a>{{l('Default answer value')}}</a></th>
                            <th class="btn-link sort" (click)="order('IsUsedInCallBack',$event)"><a>{{l('Is used in call back')}}</a></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
                            <td>{{item.title}}</td>
                            <td align="center">
                                <i class="material-icons" *ngIf="item.isActive" style="color:green;">check_box</i>
                                <i class="material-icons" *ngIf="!item.isActive" style="color:red;">indeterminate_check_box</i>
                            </td>
                            <td>{{item.questionType}}</td>
							<td>{{item.domainGroupName}}</td>
                            <td>{{item.domainGroupLevelsNumber}}</td>
							<td>{{item.questionGroupName}}</td>
                            <td>{{item.code}}</td>
                            <td>{{item.isRequired}}</td>
                            <td>{{item.isHidden}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.questionNumber}}</td>
                            <td>{{item.help}}</td>
                            <td>{{item.defaultAnswerValue}}</td>
                            <td>{{item.isUsedInCallBack}}</td>
                            <td class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">menu</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="edit(item)"><i class="material-icons">create</i>{{l('Edit')}}</a></li>
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="delete(item)"><i class="material-icons">delete_sweep</i>{{l('Delete')}}</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            <!-- ******************************************************** -->

                <div class="text-align: center;" *ngIf="totalItems > pageSize">
                    <pagination (pageChange)="getDataPage($event)" id="server"></pagination>
                </div>
                <button type="button" data-toggle="modal" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" (click)="create()">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>

<question-form-modal #questionFormModal (modalSave)="refresh()"></question-form-modal>