<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    {{l('Questions')}}
                </h2>
                <ul class="header-dropdown m-r--5">
                    <i class="fa fa-spin fa-spinner" *ngIf="isTableLoading"></i>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block()" (click)="refresh();"><i class="material-icons">refresh</i> {{l('Refresh')}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
			<div class="body table-responsive">
				<div class="filters row">
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('Title')" name="TitleFilter" [(ngModel)]="titleFilter"></input-text>
					</div>

					<div class="col-sm-3">
							<input-select name="IsActive" dataText="name" dataValue="value" [placeholder]="l('Is active')"
							[items]="trueFalseList" [(ngModel)]="isActiveFilter"></input-select>
					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('Question type')" name="QuestionTypeFilter" [(ngModel)]="questionTypeFilter"></input-text>
					</div>
				
					<div class="col-sm-3">

							<input-select multiple="true" name="DomainGroupId" proxy="DomainGroupServiceProxy"  [placeholder]="l('Domain group')"  
							[(ngModel)]="domainGroupIdFilter"  dataValue="id"  dataText="name">
                        </input-select>

					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('Domain group levels number')" name="DomainGroupLevelsNumberFilter" [(ngModel)]="domainGroupLevelsNumberFilter"></input-text>
					</div>
				
					<div class="col-sm-3">

							<input-select multiple="true" name="QuestionGroupId" proxy="QuestionGroupServiceProxy"  [placeholder]="l('Question group')"  
							[(ngModel)]="questionGroupIdFilter"  dataValue="id"  dataText="name">
                        </input-select>

					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('Code')" name="CodeFilter" [(ngModel)]="codeFilter"></input-text>
					</div>

					<div class="col-sm-3">
							<input-select name="IsRequired" dataText="name" dataValue="value" [placeholder]="l('Is required')"
							[items]="trueFalseList" [(ngModel)]="isRequiredFilter"></input-select>
					</div>

					<div class="col-sm-3">
							<input-select name="IsHidden" dataText="name" dataValue="value" [placeholder]="l('Is hidden')"
							[items]="trueFalseList" [(ngModel)]="isHiddenFilter"></input-select>
					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('Description')" name="DescriptionFilter" [(ngModel)]="descriptionFilter"></input-text>
					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('Question number')" name="QuestionNumberFilter" [(ngModel)]="questionNumberFilter"></input-text>
					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('Help')" name="HelpFilter" [(ngModel)]="helpFilter"></input-text>
					</div>
				
					<div class="col-sm-3">
						<input-text type="text" [placeholder]="l('Default answer value')" name="DefaultAnswerValueFilter" [(ngModel)]="defaultAnswerValueFilter"></input-text>
					</div>

					<div class="col-sm-3">
							<input-select name="IsUsedInCallBack" dataText="name" dataValue="value" [placeholder]="l('Is used in call back')"
							[items]="trueFalseList" [(ngModel)]="isUsedInCallBackFilter"></input-select>
					</div>

					<div class="col-sm-3">
							<input-select name="IsUsedInEncoding" dataText="name" dataValue="value" [placeholder]="l('Is used in encoding')"
							[items]="trueFalseList" [(ngModel)]="isUsedInEncodingFilter"></input-select>
					</div>

					<div class="col-sm-3">
						<div class="form-group form-float">
							<button (click)="search()" class="btn btn-primary waves-effect">{{l('Search')}}</button>
							</div>
					</div>
				</div>
            <!-- ******************************************************** -->
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="btn-link sort" (click)="order('Title',$event)"><a>{{l('Title')}}</a></th>
                            <th class="btn-link sort" (click)="order('IsActive',$event)"><a>{{l('Is active')}}</a></th>
                            <th class="btn-link sort" (click)="order('QuestionType',$event)"><a>{{l('Question type')}}</a></th>
							<th class="btn-link sort" (click)="order('DomainGroupName',$event)"><a>{{l('Domain group name')}}</a></th>
                            <th class="btn-link sort" (click)="order('DomainGroupLevelsNumber',$event)"><a>{{l('Domain group levels number')}}</a></th>
							<th class="btn-link sort" (click)="order('QuestionGroupName',$event)"><a>{{l('Question group name')}}</a></th>
                            <th class="btn-link sort" (click)="order('Code',$event)"><a>{{l('Code')}}</a></th>
                            <th class="btn-link sort" (click)="order('IsRequired',$event)"><a>{{l('Is required')}}</a></th>
                            <th class="btn-link sort" (click)="order('IsHidden',$event)"><a>{{l('Is hidden')}}</a></th>
                            <th class="btn-link sort" (click)="order('Description',$event)"><a>{{l('Description')}}</a></th>
                            <th class="btn-link sort" (click)="order('QuestionNumber',$event)"><a>{{l('Question number')}}</a></th>
                            <th class="btn-link sort" (click)="order('Help',$event)"><a>{{l('Help')}}</a></th>
                            <th class="btn-link sort" (click)="order('DefaultAnswerValue',$event)"><a>{{l('Default answer value')}}</a></th>
                            <th class="btn-link sort" (click)="order('IsUsedInCallBack',$event)"><a>{{l('Is used in call back')}}</a></th>
                            <th class="btn-link sort" (click)="order('IsUsedInEncoding',$event)"><a>{{l('Is used in encoding')}}</a></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
                            <td>{{item.title}}</td>
                            <td align="center">
                                <i class="material-icons" *ngIf="item.isActive" style="color:green;">check_box</i>
                                <i class="material-icons" *ngIf="!item.isActive" style="color:red;">indeterminate_check_box</i>
                            </td>
                            <td>{{item.questionType}}</td>
							<td>{{item.domainGroupName}}</td>
                            <td>{{item.domainGroupLevelsNumber}}</td>
							<td>{{item.questionGroupName}}</td>
                            <td>{{item.code}}</td>
                            <td>{{item.isRequired}}</td>
                            <td>{{item.isHidden}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.questionNumber}}</td>
                            <td>{{item.help}}</td>
                            <td>{{item.defaultAnswerValue}}</td>
                            <td>{{item.isUsedInCallBack}}</td>
                            <td>{{item.isUsedInEncoding}}</td>
                            <td class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">menu</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="edit(item)"><i class="material-icons">create</i>{{l('Edit')}}</a></li>
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="delete(item)"><i class="material-icons">delete_sweep</i>{{l('Delete')}}</a></li>
									<li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="navigate('/app/comments?key=questionId&value=' + item.id)"><i class="material-icons">list</i>{{l('Comments')}}</a></li>
									<li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="navigate('/app/phasequestions?key=questionId&value=' + item.id)"><i class="material-icons">list</i>{{l('Phase questions')}}</a></li>
									<li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="navigate('/app/questionattachments?key=questionId&value=' + item.id)"><i class="material-icons">list</i>{{l('Question attachments')}}</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            <!-- ******************************************************** -->

                <div class="text-align: center;" *ngIf="totalItems > pageSize">
                    <pagination (pageChange)="getDataPage($event)" id="server"></pagination>
                </div>
                <button type="button" data-toggle="modal" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" (click)="create()">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>

<question-form-modal #questionFormModal (modalSave)="refresh()"></question-form-modal>